*, body{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Xanh Mono";
    background: url('../extras/main1.jpg') no-repeat fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-blend-mode: luminosity;
    background-size: cover;
}

.hidden{
    display: none;
}
.my_card{
    /* background-color: rgba(20,20,50, 0.6); */
    background-color: rgba(20, 20, 50, 0.836);
    color: rgba(255, 255, 255, 0.925);
    border-radius: 20px;
}
.msg{
    color: #EE0033B7;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: 800;
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
    border-radius: 20px;
}
header{
    /* background-color: rgba(20,20,50, 0.6); */
    background-color: rgba(20,20,50);
    border-radius: 2px;
    top: 0;
    position: sticky;
    z-index: 1;
}
.head_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.smash_date_div{
    align-self: flex-start;
    text-align: right;
    font-weight: 600;
    font-style: italic;
}
#search-box-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}
#search-info{
    color: #FFFFFF;
    font-weight:900;
    width: 58%;
}
.search-input-text{
    width: max-content;
    color: #130044;
    border: 4px rgba(20,20,50, 0.8) solid;
    border-radius: 20px;
    outline: unset !important;
    background-color: rgba(255, 255, 255, 0.8);
}
.mid-main{
    display: flex;
    flex-direction: row;
}
.smash_box, #request-info{
    max-width: 900px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-overflow: auto;
    text-align: center;         
}
.smash_btn_wrapper{
    display: table;
    margin: 0 auto 0 auto;
    padding-bottom: 1em;
}
.logo-img {
    width: 40%;
}
/* formatting for contact form */
h2{
    font-family: Lobster;
    font-weight: 200;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
}
#smash_contact h2, #smash_about h2{
    padding: 30px;
}
#smash_about h2{
    margin-top: unset;
}
.smash-about-section{
    background-color: rgba(20, 20, 50, 0.836);
}
.display-img{
    width: 40%;
    border-radius: 20px;
    padding: 0.5rem 0.5rem 0.5rem 0;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus{
    -webkit-animation: load-text 2s linear infinite;
    animation: load-text 2s linear infinite;
}
input:invalid{
    -webkit-animation: text-invalid 2s linear infinite;
    animation: text-invalid 2s linear infinite;
}
input[type=submit]{
    border-radius: 10px;
    outline: unset !important;
    font-weight: 800;
    color: #130044;
    font-size: 16px;
}
.contact-field{
    color: #130044;
    /* border: 4px rgba(20,20,50, 0.8) solid; */
    border-radius: 20px;
    outline: unset !important;
    background-color: rgba(255, 255, 255, 0.8);
}
.form-label-text{
    color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    outline: unset !important;
    background-color: rgba(20,20,50, 0.8);
    font-size: 1.2em;
}
#contact-msg{
    height: 300px;
}
footer{
    display: flex;
    justify-content: space-around;
}
#smash_credits ul{
    list-style-type: none;
}
#smash_credits ul li{
    margin: unset !important;
}

/* Add animation to "page content" */
.left-anime{
    position: relative;
    -webkit-animation-name: animateleft;
    -webkit-animation-duration: 0.5s;
    animation-name: animateleft;
    animation-duration: 0.5s;
}

.right-anime{
    position: relative;
    -webkit-animation-name: animateright;
    -webkit-animation-duration: 0.5s;
    animation-name: animateright;
    animation-duration: 0.5s;
}

@-webkit-keyframes animateright {
    from { left:20vw; opacity:0 } 
    to { left:0; opacity:1 }
}

@keyframes animateright { 
    from{ left:20vw; opacity:0 } 
    to{ left:0; opacity:1 }
}

@-webkit-keyframes animateleft {
    from { left:-400px; opacity:0 } 
    to { left:0px; opacity:1 }
}
  
@keyframes animateleft { 
    from{ left:-400px; opacity:0 } 
    to{ left:0; opacity:1 }
}
/*Define loader*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 9px solid #f3f3f3;
  border-radius: 50%;
  border-top: 9px solid rgb(2,2,2);
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#refresh-button, .smash_btn_wrapper button, .back-btn{
    padding: 10px;
    border: 3px white outset;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #130044;
}

.smash_btn_wrapper button{
    margin-right: 1em;
}

#refresh-button:hover, .smash_btn_wrapper button:hover, .back-btn:hover{
    border: 3px #AAAAAA inset;
    color: #000066;
    background-color: #AAAAAA;
    outline: none !important;
}