@media only screen and (max-width: 481px), only screen and (max-device-width: 481px) {
    header{
        padding: 0;
        margin: 0;
    }
    .logo-img {
        width: 25%;
        display: inline;
    }
    #smash_about img{
        width: 50%;
    }
    .smash_box, #request-info{
        text-align: start;        
    }
    .alerts{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 1em;
    }
    .smash_btn_wrapper button{
        width: 120px;
    }
    /*Formatting for forecasts gotten from API*/
    .details-time{
        text-align: end;
    }
    .details-header{
        text-align: center;
    }
    .details-weather, .details-header{
        text-transform: capitalize;
    }
    .details-title{
        font-weight: 600;
    }
    .details-icon{
        margin: -40px -40px -40px -20px;
        display: inline;
    }
    
}