<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta charset="utf-8" />
		<title>WatchOut</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Modak&display=swap" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&display=swap" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Xanh Mono&display=swap" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/index.css"/>
		<link rel="stylesheet" href="/css/large.css"/>
		<link rel="stylesheet" href="/css/small.css"/>
	</head>
	<body>
		<div id="loader" class="hidden"></div>
		<div id="smash_container">
			<header>
				<nav class="navbar navbar-expand-md navbar-dark master-nav">
					<a class="navbar-brand" href="#"><img class="logo-img" src="/extras/wap_logo.png" alt="WatchOut logo"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarText">
						<div class="navbar-nav mr-auto">
							<a class="nav-link nav-forecast" data-target="slides-section" href="#">View Forecast</a>
							<a class="nav-link nav-about" data-target="about-section" href="#about-section">About</a>
							<a class="nav-link nav-contact" data-target="contact-section" href="#contact-section">Contact</a>
						</div>
						<form class="form-inline">
							<input id="search-text" name="search" class="form-control search-input-text" type="search" placeholder="Enter city name here" aria-label="Search">
						</form>
					</div>
				</nav>
			</header>
			<div class="container-fluid">
				<div class="row" id="slides-section">
					<div class="col d-flex justify-content-center align-items-center">
						<main>
							<div class="carousel slide hidden" id="smash-slides" data-ride="carousel">
								<ol class="carousel-indicators"><!-- content will be loaded from script on page load --></ol>
								<div class="carousel-inner"><!-- content will be loaded from script on page load --></div>
									<a class="carousel-control-prev" href="#smash-slides" role="button" data-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="carousel-control-next" href="#smash-slides" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
									</a>
							</div>
							<div class="smash_box_template hidden">
								<div class="details-basic">
									<img class="details-icon" alt="graphical representation of weather condition"/>
									<p class="weather-day"></p>
								</div>
								<div class="details-info">
									<h2 class="weather-info-text"></h2>
									<!-- <h4 class="weather-temp"></h4> -->
									<p class="details-info-item">
										<span class="details-title">Temperature:</span>
										<span data-name="feels_like" class="details-content"></span>
									</p>
									<p class="details-info-item">
										<span class="details-title">Clouds:</span>
										<span data-name="clouds" class="details-content"></span>
									</p>
									<p class="details-info-item">
										<span class="details-title">Humidity:</span>
										<span data-name="humidity" class="details-content"></span>
									</p>
								</div>
							</div>
							<section id="smash_request" class="hidden">
								<!-- This section displays forecast data after a user makes a search -->
								<button id="back_btn" class="back-btn">Close</button>
								<h2 id="data_dt">Today's Weather Conditions in
									<span id='country_name_request'></span>.
								</h2>
								<!-- content will be loaded from script when user makes a search -->
							</section>
						</main>
					</div>
				</div>
				<div id="about-section">
					<div class="row align-items-center smash-about-section smash-about-main-section">
						<div class="col-12 d-block d-md-none">
							<h2 class="main-about-header">About WatchOut</h2>
						</div>
						<div class="col-12 col-md-6 col-lg-5 my-2">
							<div class="display-img">
								<img class="img-fluid main-about-img" src="/extras/about1.svg"/>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-7">
							<div class="d-none d-md-block">
								<h2 class="main-about-header">About WatchOut</h2>	
							</div>					
							<p class="text-justify main-about-text">
								WatchOut is a simple website built to help anyone in the world get information on what the weather
								condition in his/her area will look like. Thanks to OpenWeatherAPI, you can easily access up to 7 days of
								weather forecast data here on WatchOut. <br><br>You want to go visit an area and you want to know what the weather condition is like there?
								Simply use the search box on the header.<br><br>Want to know about me?😎
								<span class="toggler btn" data-location="main-about-text" aria-expanded="false">click here...</span>
							</p>
						</div>
					</div>
					<div class="row align-items-center smash-about-section smash-about-me-section">
						<div class="col-12 d-block d-md-none">
							<h2 class="extra-about-header">About Me</h2>
						</div>
						<div class="col-12 col-md-6 col-lg-5 my-2">
							<div class="display-img">
								<img class="img-fluid extra-about-img" src="/extras/smash owner.jpg"/>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-7">
							<div class="d-none d-md-block">
								<h2 class="extra-about-header">About Me</h2>	
							</div>
							<p class="text-justify extra-about-text">
								I am Jeremiah Joseph, a fullstack web developer and a music lover. I started my web development journey recently (early 2019) and I have been
								working on projects like this one to better hone my skills but unlike the others, I'm deploying this to a live server.
								I look forward to writing great projects, developing web apps that solves real life problems and working with a software company. 
								Already on the hunt though.
								<br><br>
								I hope you love this, I'll love to get feedbacks from you. Kindly go to the <a class="social-connect contact-link" data-target="contact-section" href="#contact-section">contact section</a> to hit me with your feedbacks.
								You can also connect with me on 
								<a href="/connect/?network=twitter" class="social-connect" target="_blank">twitter</a>,
								<a href="/connect/?network=whatsapp" class="social-connect" target="_blank">whatsapp</a>, or
								<a href="/connect/?network=linkedIn" class="social-connect" target="_blank">LinkedIn.</a><br><br>
								<span class="toggler btn" data-location="extra-about-text" aria-expanded="false">show less...</span>
							</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center align-items-center" id="contact-section">
					<div id="contact-form" class="col-12">
						<h2 class="mb-5">Contact Me</h2>
						<form>
							<div class='alert alert-danger form-error' role="alert">
								<em>Sorry. An error occured, please try again.</em>
							</div>
							<div class='alert alert-success form-success' role="alert">
								<em>Thanks for reaching out. You'll hear from me shortly.</em>
							</div>
							<div class="p-3 my-3 form-field">
								<label for="contact-email">Email</label>
								<input id="contact-email" class="form-control contact-field" name="email" 
								type="email" placeholder="Please enter a working email address" required/>
							</div>
							<div class="p-3 my-3 form-field">
								<label for="contact-msg">Message</label>
								<textarea id="contact-msg" minlength="50" cols="10" maxlength="3000" class="form-control contact-field" name="message" placeholder="Feel free to say what's on your mind" required></textarea>
							</div>
							<div class="d-flex justify-content-end">
								<input type="submit" class="py-2 px-5 btn" value="Send" id="contact-submit"/>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="alerts">
				<noscript class="alert msg">This app needs JavaScript to function properly.</noscript>
				<div id="not-found" class="alert msg hidden">
					<p>
						Sorry, we couldn't fetch weather info for that location, please confirm that you 
						spelled correctly and try again.
					</p>
					<button class="close-btn">x</button>
				</div>
				<p id="no-connection" class="alert msg hidden">Sorry, we couldn't establish a connection.
					Please refresh the page or check your internet connection.
				</p>
				<p id="no-location" class="alert msg hidden">Oops! This page needs access to your location to function properly.</p>
			</div>

			<div class="container-fluid p-0 m-0">
				<footer>
					<div id="smash_credits" class="text-white">
						<p>WatchOut &copy 2020</p>
					</div>
					<div class="social-icons">
						<a href="/connect/?network=github" target="_blank"><img src="/extras/github.png" class="social-icon github" alt="DevWonder github profile"></a>
						<a href="/connect/?network=linkedIn" target="_blank"><img src="/extras/linkedin.png" class="social-icon" alt="DevWonder linkedin profile"></a>
						<a href="/connect/?network=whatsapp" target="_blank"><img src="/extras/whatsapp.png" class="social-icon" alt="DevWonder whatsapp profile"></a>
						<a href="/connect/?network=twitter" target="_blank"><img src="/extras/twitter.png" class="social-icon" alt="DevWonder github profile"></a>
					</div>
				</footer>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
		</script>
		<script type="module" src="/js/index.js"></script>
	</body>
</html>