@media only screen and (min-width: 900px), only screen and (min-device-width: 900px) {
    #smash_request #data_dt{
        text-align: center;
    }
    .smash_btn_wrapper button, input[type=submit]{
        width: 200px;
    }
    /*Formatting for forecasts gotten from API*/

    .details-info {
        padding-left: 1.5rem;
    }

    .display-img {
        max-height: 70vh;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    
    .display-img img.main-about-img {
        transform: scale(1.8) translateY(20%);
    }
}