@media only screen and (max-width: 481px), only screen and (max-device-width: 481px) {
    header{
        padding: 0;
        margin: 0;
    }
    div.navbar-collapse {
        margin: 1em 0;
    }
    a.nav-link {
        margin-left: 2em;
        border-bottom: 2px solid;
    }
    .search-input-text {
        margin: 1em 0 1em 2em;
    }
    .close-btn {
        box-shadow: 2px 2px 6px black;
    }
    .close-btn:hover {
        font-size: medium;
    }
    .display-img {
        position: relative;
        height: 40vh;
        overflow: hidden;
    }
    .display-img img {
        position: absolute;
        top: 0;
        left: 0;
    }
    .smash_box, #request-info{
        text-align: start;        
    }
    .smash_btn_wrapper button{
        width: 120px;
    }
    /*Formatting for forecasts gotten from API*/
    /* .details-time{
        text-align: end;
    }
    .details-header{
        text-align: center;
    }
    .details-weather, .details-header{
        text-transform: capitalize;
    }
    .details-title{
        font-weight: 600;
    }
    .details-icon{
        margin: -40px -40px -40px -20px;
        display: inline;
    } */

    .smash-about-section {
        /* background-image: url(/extras/about1.svg); */
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none!important;
    }
    
}