*, body{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Xanh Mono";
    /* background: url('/extras/main1.jpg') no-repeat fixed; */
    background-color: rgb(23 23 56 / 88%);
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-blend-mode: luminosity;
    background-size: cover;
}

#slides-section {
    min-height: calc(100vh - 60px);
}


.smash-about-section {
    min-height: 100vh;
}

#contact-section {
    min-height: calc(100vh - 60px);
}

.hidden{
    display: none;
}
.my_card{
    background-color: rgb(1 3 14 / 84%);
    color: rgba(255, 255, 255, 0.925);
    border-radius: 20px;
}
.msg{
    color: #EE0033B7;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: 800;
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
    border-radius: 20px;
}
header{
    background-color: rgb(1 3 14 / 84%);
    border-radius: 2px;
    top: 0;
    position: sticky;
    z-index: 1;
    padding: 1rem 0;
}
/* Active class is for navbar functionality */
.active {
    color: rgba(255, 255, 255, 0.925);
}
.smash_date_div{
    align-self: flex-start;
    text-align: right;
    font-weight: 600;
    font-style: italic;
}
#search-info{
    color: #FFFFFF;
    font-weight:900;
    width: 58%;
}
.search-input-text{
    width: max-content;
    color: #130044;
    border: 4px rgba(20,20,50, 0.8) solid;
    border-radius: 20px;
    outline: unset !important;
    background-color: rgba(255, 255, 255, 0.8);
}
.mid-main{
    display: flex;
    flex-direction: row;
}
main {
    width: 90%;
    max-width: 900px;
}
.smash_box, #request-info{
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-overflow: auto;
    text-align: center;         
}
.smash_btn_wrapper{
    display: table;
    margin: 0 auto 0 auto;
    padding-bottom: 1em;
}
.logo-img {
    width: 40%;
}
/* formatting for contact form */
h2{
    font-family: Lobster;
    font-weight: 200;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.925);
}
#contact-section h2{
    padding: 15px;
    /* margin: 15px;  */
    border-bottom: solid 3px;
}
.smash-about-section h2{
    padding: 15px;
    width: 100%;
    border-bottom: solid 3px;
}
.smash-about-section{
    background-color: rgb(1 3 14 / 84%);
}
.toggler, .social-connect {
    cursor: pointer;
    color: rgb(241 151 16);
}
.toggler:hover, .social-connect:hover {
    text-decoration: underline;
    color: rgb(241 151 16);
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
    -webkit-animation: load-text 2s linear infinite;
    animation: load-text 2s linear infinite;
}
input:invalid{
    -webkit-animation: text-invalid 2s linear infinite;
    animation: text-invalid 2s linear infinite;
}
input[type=submit]{
    border-radius: 10px;
    outline: unset !important;
    font-weight: 800;
    color: rgba(11, 11, 14);
    font-size: 16px;
    background-color: rgb(166 168 171 / 88%);
}
input[type=submit]:hover{
    border: solid 2px rgb(1 3 14 / 84%);;
}
#contact-form {
    width: 90%;
    max-width: 768px;
}
.form-field {
    background-color: rgb(166 168 171 / 88%);
    border-radius: 20px;
}
.contact-field{
    color: rgba(11, 11, 14, 0.877);
    border-radius: 20px;
    outline: unset !important;
    background-color: rgba(255, 255, 255, 0.8);
}
.form-field label{
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
}
.form-label-text{
    color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    outline: unset !important;
    background-color: rgba(11, 11, 14, 0.877);
    font-size: 1.2em;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(1 3 14 / 84%);
    color: rgba(255, 255, 255, 0.925);
    padding: 20px;
}
footer p {
    margin: 0;
    padding: 0;
}
footer div {
    text-align: center;
}
.social-icon {
    width: 30px;
    height: 30px;
    margin: 0.5rem;
}


/* Add animation to "page content" */
.left-anime{
    position: relative;
    -webkit-animation-name: animateleft;
    -webkit-animation-duration: 0.5s;
    animation-name: animateleft;
    animation-duration: 0.5s;
}

.right-anime{
    position: relative;
    -webkit-animation-name: animateright;
    -webkit-animation-duration: 0.5s;
    animation-name: animateright;
    animation-duration: 0.5s;
}

@-webkit-keyframes animateright {
    from { left:20vw; opacity:0 } 
    to { left:0; opacity:1 }
}

@keyframes animateright { 
    from{ left:20vw; opacity:0 } 
    to{ left:0; opacity:1 }
}

@-webkit-keyframes animateleft {
    from { left:-400px; opacity:0 } 
    to { left:0px; opacity:1 }
}
  
@keyframes animateleft { 
    from{ left:-400px; opacity:0 } 
    to{ left:0; opacity:1 }
}
/*Define loader*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 9px solid #f3f3f3;
  border-radius: 50%;
  border-top: 9px solid rgba(11, 11, 14, 0.877);
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#refresh-button, .smash_btn_wrapper button, .back-btn{
    padding: 10px;
    border: 3px rgba(11, 11, 14, 0.877) outset;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(11, 11, 14, 0.877);
}

.smash_btn_wrapper button{
    margin-right: 1em;
}

#refresh-button:hover, .smash_btn_wrapper button:hover, .back-btn:hover{
    border: 3px #AAAAAA inset;
    color: rgba(11, 11, 14, 0.877);
    background-color: #AAAAAA;
    outline: none !important;
}